# Data files
*.h5
*.hdf5
*.csv
*.pkl

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env/

# IDE
.vscode/
.idea/
